.selection-panel {
    display: flex;
    align-items: center;
  }
  
  .available-fields,
  .selected-fields {
    margin: 10px;
  }
  
  #available-fields,
  #selected-fields {
    width: 150px;
    height: 200px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  button {
    margin: 5px;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0dcdc;
}

.container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}
.container2 {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  width: 45%; 
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.card h2 {
    margin-top: 0;
    font-size: 24px;
}

.card p {
    margin-bottom: 0;
    color: #333;
}
.buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.cancel-button,
.next-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Arial', sans-serif; 
}

.cancel-button {
  background-color: #ffffff;
  color: #333333;
  margin-right: 10px; 
}

.next-button {
  background-color: #4CAF50;
  color: white;
}